* {
    margin:0;
    padding: 0;
    font-family: 'Sometype Mono', monospace;
}

/* .mainHeaderDark {
    color:rgb(188, 247, 227);
    background-color: rgb(40, 40, 40);
} */

.loading {
    text-align: center;
}

.mainHeader {
    padding-top: 10%;
    padding-right: 1.5%;
    background-color: black;
    color: white;
    text-align: right;
}

.mainNav {
    display:flex;
    
    width: 100%;
    background-color: black;
    overflow: hidden;
    position: fixed;
    top:0;
    list-style: none;
    
}

.mainNavList {
    list-style-type: none;
    /* float: left; */
}

.mainNavListContact {
    list-style-type: none;
    float: right;
}

.mainNavLink {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px;
    transition: background-color 0.25s;
}


.mainNavLink:hover {
    background-color: rgb(50, 50, 50);
    color: white;
    
}

.homeHeader, h2  {
    text-align: center;
}

.featArt {
    text-align: left;
    margin-left: 23px;
}

.articlesAll {
    margin-left: 23px;
    margin-bottom: 10px;
}



.articleContainer {
    
    display: flex;
    padding: 5px;
    
    /* margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px; */
    border: solid black 1px;
    border-radius: 12px;
}

.articleLayout {
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.articleLayout li {
    width: 500px;
    justify-self: unset;
}



.articleImageContainer {
    display: flex;
    margin-right: 20px;
}

.articleContentContainer {
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1%;
}

/* .articleTitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
} */




.articleUsername {
    color: rgb(247, 194, 97);
    font-size: small;
    
}

.articleDate, .articleVotes, .articleC {
    font-size: small;
}

.articleVotes {
    margin-left: 30px;
}

.deleteComment {
    display: flex;
    justify-content: center;
    margin-top: 4px;
}


.articleCard {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 350px;
    height: 150px;
    
}

.articleCard li {
    transition: all .2s;
    border-radius: 12px;
    
}

.articleCard li:hover {
    transform: translateY(-0.25em);
    box-shadow: 13px 12px 18px -1px rgba(212,212,212,1);
}






/* .articleCard {
    
    padding: 5px;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
    border: solid black 1px;
    border-radius: 12px;
} */

.articleImg {
    width: 125px;
    height: 100px;
    border-radius: 12px;
}

.articleListLink {
    width: 400px;
    color: black;
    text-decoration: none;
}





.fullArticleImg {
    
    width: 100%;
}

.fullArticleDate {
    display: inline;
}

.fullArticleAuth {
    display: inline;
    margin-left: 40px;
}

.fullArticleUser {
    display: inline;
    
    
    color:rgb(233, 178, 75);
}

.fullArticleBody {
    margin-left: 1%;
    margin-right: 1%;
}

.fullArticleComments {
    text-decoration: none;
    color:rgb(0, 0, 135);
}

.articleComments {
    list-style-type: none;
    padding:5px;
    border: solid black 1px;
    border-radius: 12px;
    width: 70%;
    margin: auto;
    margin-bottom: 5px;
    
}

.articleDelete {
    text-align: center;
    color: rgb(233, 178, 75);
    border: rgb(233, 178, 75) solid 1px;
    width: fit-content;
    margin: 20px;
    padding: 30px;
    
    border-radius: 12px;
}

.deleteContainer {
    display:flex;
    justify-content: center;
}

.comments {
    margin-left: 65px;
}

.commentDateVotes {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.commentText {
    color: rgb(94, 94, 94);
    font-size: small;
    margin-top: 15px;
}

.commentForm {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-bottom: 5px;
    
}

.commentAdd {
    display: flex;
    align-items: center;
    width: fit-content;
    flex-direction: column;
    padding:5px;
    border: solid black 1px;
    border-radius: 12px;
    width: 70%;
    margin: auto;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.commentlabel {
    display: flex;
    margin-right: 20px;
}

.commentBox {
    height: 100px;
}

.commentHead {
    margin-bottom: 5px;
}

.commentErr {
    font-size: small;
    color: red;
}

.postedCommentText {
    color: rgb(187, 187, 187);
}

.unpostedCommentText {
    color: black;
}

.voterContainer {
    display: flex;
    justify-content: center;
    
}



.voterBox {
    
    width:fit-content;
    color: white;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    border: solid rgb(33, 33, 191) 1px;
    border-radius: 25px;
    background-color: rgb(65, 65, 206);
}

.voterButton {
    border: white;
    color: rgb(65, 65, 206);
    background-color: rgb(215, 215, 240);
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 12px;
}

.voteErr {
    font-size: smaller;
}



.topicNav {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin-top: 10px;
    margin-bottom: 2px;
    height: 30px;
    
}

.topicNav li {
    flex-grow: 1;
    text-align: center;
    font-size: small;
    
}

.topicNav li a {
    color: black;
    text-decoration: none;
    border: solid rgb(126, 125, 125) 1px;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 6%;
    padding-right: 6%;
    margin: 2%;
    border-radius: 14px;
    transition: all 0.25s;
}

.topicButt:hover {
    
       color: white;
       background-color: black;
        box-shadow: 0 0.5em 0.5em -0.4em #939393;
        
        cursor: pointer;
    }


.topicContainer {
    
    padding: 5px;
    height: 150px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
    border: solid black 1px;
    border-radius: 12px;
}

.topicHeading {
    text-align: center;
    margin-bottom: 30px;
}

.sortBy {
    margin-left: 10px;
    margin-bottom: 5px;;
}



@media (max-width: 320px) {
     .articleUsername, .articleVotes {
        display: none;
     }
     .articleImg {
         width:100px;
     }

     .articleTitle {
         font-size: small;
     }

     .articleDate {
         color: rgb(92, 0, 92)
     }

     .mainNav {
         flex-direction: column;
        width: 100%;
     }

     .mainHeader {
        margin-top: 35px;
     }

     

     .mainNavListHide {
         display: none;
     }
}

