* {
    margin:0;
    padding: 0;
    font-family: 'Sometype Mono', monospace;
}

/* .mainHeaderDark {
    color:rgb(188, 247, 227);
    background-color: rgb(40, 40, 40);
} */

.loading {
    text-align: center;
}

.mainHeader {
    padding-top: 10%;
    
    background-color: black;
    color: white;
    text-align: right;
}

.mainNav {
    display: flex;
    
    background-color: black;
    overflow: hidden;
    position: fixed;
    top:0;
    width: 100%;
}

.mainNavList {
    list-style-type: none;
    float: left;
}

.mainNavListContact {
    list-style-type: none;
    float: right;
}

.mainNavLink {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px;
    transition: background-color 0.25s;
}


.mainNavLink:hover {
    background-color: rgb(50, 50, 50);
    color: white;
    
}

.homeHeader, h2  {
    text-align: center;
}

.featArt {
    text-align: left;
    margin-left: 23px;
}

.articlesAll {
    margin-left: 23px;
}

.articleContainer {
    
    display: flex;
    padding: 5px;
    
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
    border: solid black 1px;
    border-radius: 12px;
}

.articleLayout {
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    display: flex;
}

.articleImageContainer {
    display: flex;
    margin-right: 20px;
}

.articleContentContainer {
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1%;
}

/* .articleTitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
} */

.articleListLink {
    width: 500px;
}


.articleUsername {
    color: rgb(247, 194, 97);
    font-size: small;
    
}

.articleDate, .articleVotes {
    font-size: small;
}



/* .articleCard {
    
    padding: 5px;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
    border: solid black 1px;
    border-radius: 12px;
} */

.articleImg {
    width: 125px;
    height: 100px;
    border-radius: 12px;
}

.articleListLink {
    color: black;
    text-decoration: none;
}



.fullArticleImg {
    
    width: 100%;
}

.fullArticleDate {
    display: inline;
}

.fullArticleAuth {
    display: inline;
    margin-left: 40px;
}

.fullArticleUser {
    display: inline;
    
    
    color:rgb(233, 178, 75);
}

.fullArticleBody {
    margin-left: 1%;
    margin-right: 1%;
}

.fullArticleComments {
    text-decoration: none;
    color:rgb(0, 0, 135);
}

.articleComments {
    list-style-type: none;
    padding:5px;
    border: solid black 1px;
    border-radius: 12px;
    width: 70%;
    margin: auto;
    margin-bottom: 5px;
    
}

.comments {
    margin-left: 65px;
}

.commentVotes {
    margin-left: 40px;
}

.commentDate {
    margin-left: 5px;
}

.commentText {
    color: rgb(94, 94, 94);
    font-size: small;
}

.voterContainer {
    display: flex;
    justify-content: center;
    
}

.voterBox {
    
    width:fit-content;
    color: white;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    border: solid rgb(33, 33, 191) 1px;
    border-radius: 25px;
    background-color: rgb(65, 65, 206);
}

.voterButton {
    border: white;
    color: rgb(65, 65, 206);
    background-color: rgb(215, 215, 240);
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 12px;
}

.voteErr {
    font-size: smaller;
}



@media (max-width: 320px) {
     .articleUsername, .articleVotes {
        display: none;
     }
     .articleImg {
         width:100px;
     }

     .articleTitle {
         font-size: small;
     }

     .articleDate {
         color: rgb(92, 0, 92)
     }
}

